
<table cdk-table [dataSource]="dataSource">

  <ng-container cdkColumnDef="nameCompany">
    <th cdk-header-cell *cdkHeaderCellDef> Name Company </th>
    <td cdk-cell *cdkCellDef="let element"> {{element.nameCompany}} </td>
  </ng-container>

  <ng-container cdkColumnDef="titleCompany">
    <th cdk-header-cell *cdkHeaderCellDef> Title Company </th>
    <td cdk-cell *cdkCellDef="let element"> {{element.titleCompany}} </td>
  </ng-container>

  <ng-container cdkColumnDef="dateCreated">
    <th cdk-header-cell *cdkHeaderCellDef> Date Created </th>
    <td cdk-cell *cdkCellDef="let element"> {{element.dateCreated | date : "dd.MM.y"}} </td>
  </ng-container>

  <ng-container cdkColumnDef="tools">
    <th cdk-header-cell *cdkHeaderCellDef></th>
    <td cdk-cell *cdkCellDef="let row">

        <button>
          <a routerLink="/edit/{{row.globalID}}"><i class="fas fa-edit">
            </i></a>
        </button>

        <button (click)="onDelete(row.globalID)"><i class="fas fa-trash-alt"></i></button>
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <a [routerLink]="['/create']"style="margin-left:20px;" ><i class="fas fa-plus"></i></a>

