
<h3 class="tittle" style="text-align: center;padding-top: 10px;">Register Company</h3>
<div class="inner-sec">
  <div class="login p-5 bg-light mx-auto mw-100">

    <form  #createCompanyForm="ngForm" (ngSubmit)="onClickRegister(createCompanyForm)">

      <div class="form-group">
        <label for="nameCompany">Company Name</label>
        <input class="form-control" type="text" ngModel name="nameCompany" required/>
      </div>

      <div class="form-group">
          <label for="titleCompany">Title</label>
          <input class="form-control" type="text" ngModel name="titleCompany" required/>
        </div>

      <div class="form-group">
        <button class="form-control btn btn-primary" type="submit">Register</button>
      </div>

    </form>
  </div>
</div>
